@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0) translate(-50%, -50%);
  }

  100% {
    -webkit-transform: rotate(359deg) translate(-50%, -50%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0) translate(-50%, -50%);
  }

  100% {
    transform: rotate(359deg) translate(-50%, -50%);
  }
}

body {
  margin: 0;
  overflow: hidden;
}

iframe {
  border: 0;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  -webkit-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
}
